button,
input[type="submit"] {
  background: rgb(49, 130, 252);
  border: 2px solid #fff;
  color: #fff;
  padding: 7px 15px;
  height: 35px;
  cursor: pointer;
  transition: background 0.3s linear;
}

button:hover,
input[type="submit"]:hover {
  background: rgb(7, 99, 238);
}

input[type="text"],
input[type="password"] {
  background: #eee;
  border: 2px solid #fff;
  padding: 15px;
  height: 35px;
  box-sizing: border-box;
}

input[type="text"]:focus,
input[type="password"]:focus {
  outline: none;
}

h2,
p {
  margin: 0 0 25px;
}

.box {
  box-shadow: 0 0 65px 0px rgb(0 0 0 / 10%);
  margin: 40px auto;
  max-width: 500px;
  background: #fff;
  padding: 30px;
  text-align: center;
}

.box .image {
  margin: 0 auto 25px;
  border-radius: 50%;
  overflow: hidden;
  width: 80px;
  height: 80px;
}

.box form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box ul {
  text-align: left;
}

/* addStyle.js */
p.big{
  font-size: 20px;
}
